

<div class="now-detail-restaurant clearfix">
  <div class="container">
    <div class="detail-restaurant-img"><img
      src="https://images.foody.vn/res/g71/704702/prof/s640x400/image-54da744a-200910115808.jpeg"
      alt="McDonald's - Hồ Gươm" class=""></div>
    <div class="detail-restaurant-info">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="breadcrumb-link" rel="nofollow" href="/">Home</a></li>
          <li class="breadcrumb-item"><a class="breadcrumb-link" rel="nofollow" href="/ha-noi">Hà Nội</a></li>
          <li class="breadcrumb-item"><a class="breadcrumb-link" rel="nofollow" href="/ha-noi/mcdonald-s-ho-guom">McDonald's
            - Hồ Gươm</a></li>
        </ol>
      </nav>
      <div class="kind-restaurant"><span> Nhà hàng<span> -<a class="link-brand" title="McDonald's Hà Nội" rel="nofollow"
                                                             href="/thuong-hieu/mcdonald-s-ha-noi">Chi nhánh</a></span></span>
      </div>
      <h1 class="name-restaurant">McDonald's - Hồ Gươm</h1>
      <div class="address-restaurant">2 Hàng Bài, P. Tràng Tiền, Hoàn Kiếm, Hà Nội</div>
      <div class="rating">
        <div class="stars"><span class="full"><i class="fas fa-star"></i></span><span class="full"><i
          class="fas fa-star"></i></span><span class="full"><i class="fas fa-star"></i></span><span class="full"><i
          class="fas fa-star"></i></span><span class="half"><i class="fas fa-star-half-alt"></i></span></div>
        <span class="number-rating">999+</span>đánh giá trên ShopeeFood
      </div>
      <div class="view-more-rating"><a href="https://foody.vn/ha-noi/mcdonald-s-ho-guom"
                                       rel="noopener noreferrer nofollow" target="_blank" class="number-review">Xem thêm
        lượt đánh giá từ Foody</a></div>
      <div class="status-restaurant">
        <div class="opentime-status"><span class="stt online" title="Mở cửa"></span></div>
        <div class="time"><i class="far fa-clock"></i>07:00 - 22:50</div>
      </div>
      <div class="cost-restaurant"><i class="fas fa-dollar-sign"></i>50,000 - 200,000</div>
      <div class="share-social clearfix">
        <div class="share-social-box">
          <div class="fb-like" data-layout="button" data-action="like" data-size="small" data-show-faces="false"
               data-share="true" data-colorscheme="light" data-kid-directed-site="false"></div>
        </div>
      </div>
      <div class="utility-restaurant clearfix">
        <div class="utility-item">
          <div class="utility-title">Phí dịch vụ</div>
          <div class="utility-content"><span class="txt-bold txt-red"> 0.0% Phí phục vụ </span></div>
          <span class="icon icon-partner-vi" data-toggle="modal" data-target="#modal-verify-merchant"></span></div>
        <div class="utility-item">
          <div class="utility-title">Dịch vụ bởi</div>
          <div class="utility-content"><span class="txt-bold txt-red">ShopeeFood</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
