<div class="table-responsive container">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Ảnh</th>
      <th scope="col">Tên </th>
      <th scope="col">Điện thoại</th>
      <th scope="col">Địa chỉ</th>
      <th scope="col">Thời gian</th>
      <th scope="col">Ghi chú</th>
      <th scope="col">Trạng thái</th>
      <th scope="col">Xem chi tiết</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td>{{order.id}}</td>
      <td><img src="{{order.appUser.avatar}}" alt="" style="height: 40px;
        width: 40px;
        border-radius: 50%;"></td>
      <td class="merchant-item">{{order.appUser.name}}</td>
      <td class="merchant-item">{{order.appUser.phone}}</td>
      <td class="merchant-item">{{order.appUser.address}}</td>
      <td class="merchant-item" size="50px">{{order.orderdate}} </td>
      <td class="merchant-item" size="50px">{{order.note}} </td>
      <td class="action-icon"><a >{{order.status}}</a></td>
      <td class="action-icon show-detail"><a [routerLink]="['/merchant/detail',order.id]"><i class="fa-solid fa-eye fa-solid-icon"></i></a></td>

    </tr>

    </tbody>
  </table>
</div>

